body{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pos{
	position: relative;
	z-index: 3;
}
.hero{
	background: url('../img/bg.jpg');
	height:100vh;
	background-position: top center;
	background-size: cover;
	position: relative;
	padding-top:20px;
	overflow:hidden;
	&:after{
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #e20a7f;
		z-index: 1;
		opacity: .6;
	}
	
	.navbar-nav{
		@include breakpoint(small){
    		margin-top: 35px;
    		float: right;
		}
		@include breakpoint(medium){
			margin-top: 55px;
		}
		@include breakpoint(medium){
			margin-top: 65px;
		}
	}

	.navbar-default{
		background-color: transparent;
		border:none;
		.navbar-toggle{
			border:none;
			.icon-bar{
				background-color: #FFF;
			}
		}
	}

	.nav > li > a{
		@include breakpoint(small){
			padding:10px 14px;
			font-size: 14px;
		}
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: #e20a7f;
		border-color:#e20a7f;
		@include breakpoint(small){
			background-color: transparent;
			border-color:transparent;
		}
	}
	.navbar-default .navbar-nav > .active > a{
		color:#ffffff;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		color:#ffffff;
	}
	span{
		color:#fff;
		margin-left: 7px;
		@include breakpoint(small){
			margin-top: 3em;
			display: block;
		}
	}
	h1{
		color:#fff;
		margin-top: 0;
		margin-bottom: 10px;
		font-weight: 700;
		@include breakpoint(small){
			font-size: 3.125em;
		}
		@include breakpoint(small){
			font-size: 4em;
		}
	}
	p{
		color:#ffffff;
		@include breakpoint(small){
			font-size: 0.875em;
		}
		@include breakpoint(large){
			width: 80%;
		}
	}
	.btnSaber{
		background-color: #009c31;
		color: #ffffff;
		padding:7px 10px;
		font-weight: 700;
		border-radius:6px;
		margin-top: 15px;
		float: left;
		box-shadow: 0px 0px 7px 0px rgba(111,109,109,0.75);
		text-decoration: none;
		@include breakpoint(small){
			padding:12px 20px;
		}
		@include breakpoint(large){
			font-size: 1.6em;
		}
	}

}