
img {
    max-width: 100%;
    height: auto;
}

body{
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	font-family: 'Maven Pro', sans-serif;
}

.clearFix{
  clear: both;
}

.helper_white{
	background-color: white;
}

.border-header{
  border-bottom: 1px solid #D6D6D6;
}

#container{
	position: relative;
	.menu-btn{
		font-size: 2em;
		position: absolute;
		top:16px;
		left:0px;
		z-index: 10;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		color: black;
		background-color: transparent;
		@include breakpoint(small){
			// left: 32px;
		}
	}
}

.header{
	background-color: white;
	padding: 20px 5px;
	position: relative;
	z-index: 0;

	.pepe-logo{
		text-align: center;
		display: block;
		& img{
			width: 130px;
		}
		@include breakpoint(small){
			text-align: center;
		}
	}

	//sociales
	.sociales{
		display: none;
		position: absolute;
		@include breakpoint(small){
			display: block;
			right: 10px;
			width: auto;
			top: 8px;
			ul{
				margin: 0;
				padding:0;
				list-style: none;
				li{
					display: inline-block;
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
					a{
						display: block;
						color:black;
						font-size: 1.6em;
					}
				}
			}
		}
	}

}
