doctype html.no-js(lang='cl')
head
		meta(charset='utf-8')

		meta(http-equiv='x-ua-compatible', content='ie=edge')

		title

		meta(name='description', content='')

		meta(name='viewport', content='width=device-width, initial-scale=1')
			
		link(rel='apple-touch-icon', href='apple-touch-icon.png')

		link(rel='stylesheet', href='css/styles.css')     
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')     
	body

	header.header
		.container-fluid
				.row
					.col-xs-12
						.logo
							a(href="/") 
								img(src="img/logo.svg", alt="Pepe reyes")
						.social
							ul
								li: a(href="#")
										i.fa.fa-behance-square
								li: a(href="#")
										i.fa.fa-facebook-square
	section.sectionfull.sectionIm
		.container
			.row
				.col-md-6
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente similique, aliquam suscipit! Rem ducimus et voluptates nobis itaque doloribus asperiores aliquid eos dolores deserunt officiis, nisi, blanditiis, perferendis unde. Atque.
				.col-md-6
					.contenedor
						p
							| Quién 
							span soy?
	section.sectionfull.sectionDo
		.container
			.row
				.col-md-6
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente similique, aliquam suscipit! Rem ducimus et voluptates nobis itaque doloribus asperiores aliquid eos dolores deserunt officiis, nisi, blanditiis, perferendis unde. Atque.
				.col-md-6
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis cum sint aspernatur, quaerat pariatur velit labore natus magni accusamus animi itaque quo illo rem vel! Dolores cumque corporis distinctio cum.
	section.sectionfull.sectionFind
		.container
			.row
				.col-md-6
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente similique, aliquam suscipit! Rem ducimus et voluptates nobis itaque doloribus asperiores aliquid eos dolores deserunt officiis, nisi, blanditiis, perferendis unde. Atque.
				.col-md-6
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis cum sint aspernatur, quaerat pariatur velit labore natus magni accusamus animi itaque quo illo rem vel! Dolores cumque corporis distinctio cum.
	footer
		p © Pepe Reyes 2017 
