doctype html
html(lang='es-CL')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Pepe Reyes 
    <!--Bootstrap-->
    link(href='css/style.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    <!--[if IE 9]>
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    <![endif]-->
  body
    nav.pushy.pushy-left(data-focus="#first-link")
        .pushy-content
            ul
                li: a.pushy-link(href="index.html") Inicio
                li: a.pushy-link(href="bio.html") Bio
                li: a.pushy-link(href="pepemonias.html") Pepemonias
                li: a.pushy-link(href="#") Blog
                li.pushy-submenu
                  button#first-link Que hago
                  ul
                    li.pushy-link
                      a(href='#') Ilustración
                    li.pushy-link
                      a(href='#') Editorial
                li: a.pushy-link(href="#") Contacto
    .site-overlay
    #container
        button.menu-btn
            i.fa.fa-bars
        .container-fluid.helper_white
            header.header
                .row
                    .col-xs-12
                        a.pepe-logo(href="#")
                            img(src="img/logo_pepe.svg", alt="")
                        .sociales
                            ul
                                li: a.socials_link(href="#") 
                                    i.fa.fa-facebook-square
                                li: a.socials_link(href="#") 
                                    i.fa.fa-behance-square
        section.full-section
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-6
                        .mono-gif
                            img(src="img/mono.gif", alt="")
                    .col-xs-12.col-sm-12.col-md-6
                        .titulos
                            h1.titulo Quién 
                                span soy?
                            a.btn_go(href="#") Ver aquí
        section.que-hago
            .container-fluid
                .row.no-padding
                    .col-sm-12.no-padding
                        article.diablo
                            img(src="img/diablo.svg", alt="")
                            a.btn_go(href="") ver más
                    .col-sm-12.no-padding
                        article.ninita
                            img(src="img/monita.svg", alt="")
                            a.btn_go(href="") ver más
        footer
            p Pepe Reyes 
                time 2017 
                span hecho con 
                    i.fa.fa-heart.wow.pulse


    







                    

         
    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/pushy.min.js')
    script(src='js/wow.min.js')
