@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//estilos generales

//color

$white:#fff;
$black:#000000;
$primary_color:#FFEAF7;
$second_color:#FDC300;
$third_color:#00AABC;


$color_btn:#E50055;

$purple:#1700E4;


  @import "sass/fonts";
  @import "sass/reset";
  @import "sass/menu";
  @import "sass/header";
  @import "sass/footer";
  @import "sass/main";


