@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


$color_fondo:#ffeaf7;

$amarillo_fondo:#FDC300;

$azul_fondo:#4839EC;

$cyan_fondo:#00AABC;

$color_primario:#E50055;

$color_secundario:#1700E4;

$fondo_monias:#E50056;

$color_blanco: #ffffff;

$color_bio:#E7F1FA;


//estilos por sección
@import "scss/fonts";
@import "scss/pepemonias";
@import "scss/header";
@import "scss/menu";
@import "scss/main";
@import "scss/footer";
@import "scss/extras";
@import "scss/blog";
@import "scss/contacto";
